<header>
    <h1>calc</h1>
    <div class="theme-toggle">
        <span class="label">THEME</span>
        <div class="toggle-container">
            <div class="numbers">
                <span>1</span>
                <span>2</span>
                <span>3</span>
            </div>
            <div class="toggle-switch">
                <div class="toggle-thumb" [ngStyle]="{ left: getThumbPosition() }"></div>
                <input type="range" min="0" max="2" [value]="theme()" (input)="onThemeChange($event)"
                    class="range-input" />
            </div>
        </div>
    </div>
</header>
