:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    border: none;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    color: var(--key-text);
    background-color: var(--key-background);
    box-shadow: 0px 5px var(--key-shadow);
}

button:hover {
    background-color: var(--key-background-hover);
}

.special {
    color: var(--special-key-text);
    background-color: var(--special-key-background);
    box-shadow: 0px 5px var(--special-key-shadow);
}

.special:hover {
    background-color: var(--special-key-background-hover);
}

.equal {
    color: var(--equal-key-text);
    background-color: var(--equal-key-background);
    box-shadow: 0px 5px var(--equal-key-shadow);
}

.equal:hover {
    background-color: var(--equal-key-background-hover);
}
