<main>
    <theme-config />

    <section class="screen">
        @if (subResultText() !== '0') {
            <p class="screen-sub-text">
                {{ subResultText() }} {{ lastOperator() }}
            </p>
        }
        <p class="screen-text">{{ resultText() }}</p>
    </section>

    <section class="board">
        <div class="board-row">
            <calculator-button (onClick)="handleClick($event)"> 7 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> 8 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> 9 </calculator-button>
            <calculator-button (onClick)="handleClick($event)" specialButton> DEL </calculator-button>
        </div>
        <div class="board-row">
            <calculator-button (onClick)="handleClick($event)"> 4 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> 5 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> 6 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> + </calculator-button>
        </div>
        <div class="board-row">
            <calculator-button (onClick)="handleClick($event)"> 1 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> 2 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> 3 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> - </calculator-button>
        </div>
        <div class="board-row">
            <calculator-button (onClick)="handleClick($event)"> . </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> 0 </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> / </calculator-button>
            <calculator-button (onClick)="handleClick($event)"> x </calculator-button>
        </div>
        <div class="board-row">
            <calculator-button (onClick)="handleClick($event)" specialButton> RESET </calculator-button>
            <calculator-button (onClick)="handleClick($event)" equalButton> = </calculator-button>
        </div>
    </section>
</main>
