@mixin generic-styles($color) {
    background-color: $color;
    border-radius: 10px;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100dvh;
    max-width: 650px;
    margin: 0 auto;

    .screen {
        @include generic-styles(var(--screen-background));
        height: 100px;
        color: var(--screen-text);;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        row-gap: 1rem;

        .screen-sub-text {
            font-size: 1rem;
            margin: 0;
        }

        .screen-text {
            font-size: 2rem;
            margin: 0;
        }
    }

    .board {
        @include generic-styles(var(--toggle-background));
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .board-row {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }
}
