/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    padding: 20px;
    background-color: hsl(222, 26%, 31%);
}
